body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  background-color: #C3F8FF;
}

h1,
h2,
h3 {
  color: #00A8CC;
}

h1 {
  margin-top: 0px;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 300%;
}

.learner {
  text-align: center;
  font-weight: normal;
}

.mydiv {
  padding: 10px;
}

hr {
  border: none;
  border-top: 1px solid #7DCE13;
  width: 50%;
}


.top-cloud {
  width: 200px;
  height: 200px;
  position: relative;
  left: 70%;
  top: 50px;
}

.bottom-cloud {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 15%;
}

.mountain {
  width: 512px;
  height: 512px;
  position: relative;
  left: 36%;
}

.me {
  display: inline;
  margin-bottom: 50px;
}

.me2 {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.education {
  display: inline;
  position: absolute;
  left: 50px;
}

.skills {
  display: inline;
  position: absolute;
  right: 50px;
}

.prk {
  display: inline;
}

.park {
  display: inline;
  width: 200px;
  height: 200px;
  position: absolute;
  right: 50%;
  margin-top: 200px;
}


.hobbies {
  display: inline;
  position: absolute;
  left: 50px;
  margin-top: 250px;
}

.contact {
  display: inline;
  position: absolute;
  right: 410px;
  margin-top: 250px; 
}

.cont {
  float: left;
  margin: 5px;
}